_site/
.sass-cache/
*.DS_Store
*.idea
*.swp
*.Trashes
*.VC.db
*.tloggit
*.idb
*.lastbuildstate
*.log
*.user
*.obj
*.pdf
*.pdb
*.exe
*.ilk
*.suo
*.tlog

_posts/3rd/opencv/OpenCV3.1.0学习/source/opencv-001/x64
_posts/3rd/opencv/OpenCV3.1.0学习/source/opencv-001/x64